# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - pre-push
default_stages:
  - pre-commit
  - pre-push
  - manual
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
        exclude: (.pub$|link.ellis.jade.fendapp.releases.xml$)
      - id: check-vcs-permalinks
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/FeryET/pre-commit-rust
    rev: v1.1.0
    hooks:
      - id: fmt
        stages:
        - pre-commit
        - pre-push
      - id: cargo-check
        stages:
        - pre-commit
        - pre-push
      - id: clippy
        args: [--all-targets, --all-features, "--", "-D", "warnings"]
        stages:
        - pre-commit
        - pre-push
      - id: build
        stages:
        - pre-commit
        - pre-push
      - id: test
        stages:
        - pre-push
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.0
    hooks:
      - id: typos
